.header{
    background-color: #94602f;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: #000000;
    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
    .search{
        input[type="textarea"]{
            height: 4vh;
        }
    .fa-search{
    margin: 0.5em;
}
    }
    .profile{
        .fa-user-circle{
            display: flex;
           justify-content: flex-end;
           margin-left: 10em;
        }
    }
}
}