.header{
    background-color: #94602f;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
    .search{
        input[type="textarea"]{
            height: 4vh;
        }
    .fa-search{}
    margin: 1em;
    }
    // .profile{
    //     .fa-user{
    //         width: 80px;
    //         height: 80px;
    //     }
    // }
}