.createusers{
  background-color: #DDC0B4;
  margin-bottom: 50px;
 .form{
  background-color: #A9A9A9;
  margin: 30px 200px 0 200px;
  border-radius: 10px;
  .row{
    .company, .username, .email{
      float: left;
      width: 25%;
    }
  }
  .row{
    .firstname, .lastname{
      float: left;
      width: 37.5%;
    }
  }
  .row{
    textarea{
      float: left;
      width: 72%;
      border-radius: 4px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
  }
  .row{
    .city, .country, .postalcode{
      float: left;
      width: 25%;
    }
  }
  .row{
    .password, .confirmpassword{
      float: left;
      width: 37.5%;
    }
  }

  .row:after {
          content: "";
          display: table;
          clear: both;
        }
   
    .row {
          margin-bottom: 30px;
      
          input[type="text"],
          input[type="email"],
          input[type="password"],
          select {
            width: 200px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
          }
        }
        label {
                font-size: 15px;
                color: black;
                font-weight: bold;
                text-align: left;
              }
          input[type="submit"] {
      background-color: #CD853F;
      border: 2px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      width: 120px;
      height: 40px;
      font-weight: bold;
    } 
 }
 margin-bottom: 50px;
}